{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Unsubscribe</title>
  </head>
  <body class="container">
    <div class="form_area">
      <p style="font-size: 100px">&#128532;</p>
      <h4 class="title">We are sad to see you go!</h4>
      <p>You have been unsubscribed and will no longer hear from us.</p>
    </div>
  </body>
</html>
